{{ partial "small-header.html" . }}

    {{ if isset .Params "header_image"  }}
        <img src="{{ .Params.header_image }}" class="blog-image">
    {{ end }}

	<section id="content">
        <article class="post container">
                    
              <h1>{{ .Title }}</h1>
  
              {{ .Content }}
  
              {{ $author := index .Site.Params.authors .Params.author }}
              
              <div class="post-author">
                  <div class="post-author-left-container">
                      <img src="{{ $author.thumbnail }}" class="post-author-img">
                  </div>
                  <div class="post-author-right-container">
                      <h4 class="post-author-header">{{ $author.name }}</h4>
                      <p class="post-author-text">{{ $author.bio }}</p>
                      <p class="post-author-date"><em>Posted on: {{ .Date.Format "2 Jan 2006" }}</em></p>
                  </div>
              </div>
        </article>
	</section>

{{ partial "footer.html" . }}
