{{ partial "big-header.html" . }}
        
        <article class="top-post">
            <img src="img/newHome.png" alt="atchai digital consultancy london">

            <h1>Thrilling Digital Products</h1>

            <h2>
                Made in London
            </h2>

            <div class="container tiles">
                <div class="row">
                    <div class="col-md-4 tile">
                        <h1><a href="/we-develop/conversational-ui-chatbots/">Bots &amp; Conversational ui</a></h1>
                    </div>
                    <div class="col-md-4 tile"><h1><a href="/we-develop/data-web-applications/">Data-driven applications</a></h1></div>

                    <div class="col-md-4 tile"><h1><a href="/we-develop/product-development/">Product development</a></h1></div>
                </div>
            </div>
            <div class="hiring">
                <h4>From the Blog</h4>
                <p>
                    <a href="/blog/2016-09-02-successful-chatbot-project/">How to run a successful chatbot development project</a>
                </p>
            </div>
        </article>
      
        <article class="about about-chevron">

            <div class="container about-container">
               <div class="row row-mod">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 about-innovation">
                        <h2 class="about-innovation-header">Start-up<br><span class="about-bold">innovation</span></h2>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 about-quality">
                        <h2 class="about-quality-header">Enterprise<br><span class="about-bold">quality</span></h2>
                    </div>
                </div>
                <p class="about-paragraph">Atchai develops sophisticated web applications and bots.</p>
                <p class="about-paragraph">Because we're small and specialised, we offer a highly personal service.</p>
                <p class="about-paragraph">We&#8217;re a trusted partner for government and Fortune 500 companies.</p>
                    
                <div class="about-hr">
                </div>
    
                <div class="about-upper-logos">
                    <div class="logos-container">
                        <div class="client client-hscic"></div>
                        <div class="client client-NHS"></div>
                    </div>
                    <div class="logos-container">
                        <div class="client client-Internews"></div>
                        <div class="client client-Champion"></div>
                    </div>
                </div>
    
                <div class="about-lower-logos">
                    <div class="logos-container">
                        <div class="client client-Turner"></div>
                        <div class="client client-Bank"></div>
                    </div>
                    <div class="client client-Parity"></div>
                </div>
            </div>

        </article>

        <article class="case-study case-study-chevron">
           <div class="row row-mod case-study-container">
               <div class="col-lg-6 col-md-6 col-xs-12">
                   <a href="https://getdataseed.com" target="_blank"><img class="case-study-image" src="/img/dataseed-ipad.jpg" alt="Dataseed ipad"></a>
               </div>
   
               <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                   <div class="case-study-text">
                       <p class="case-study-case">Case study</p>
                       <a href="https://getdataseed.com"><img class="case-study-dataseed" src="/img/dataseed.png" alt="Dataseed logo"></a>
                       <p class="case-study-simple">Simple, beautiful interactive data visualisation</p>
                       <div class="case-study-hr">
                       </div>
                       <p class="case-study-small"><a href="https://getdataseed.com">Dataseed</a> is an Atchai product, from concept through design, technology, user testing, marketing, and support.</p>
                       <p class="case-study-small">We know what it takes to bring a new product to market.</p>
                       <div class="case-study-winner case-study-square case-study-square-winner">
                           <p>Information is <br><span class="case-study-beautiful">beautiful</span><br><span class="case-study-strong">award winner</span></p>
                           <img src="/img/winner.png" alt="Information is beautiful award">
                       </div>
                       <div class="case-study-guardian case-study-square case-study-square-guardian">
                           <p>Featured in <br><span class="case-study-strong">the guardian</span></p>
                           <img src="/img/guardian.png" alt="Guardian logo">
                       </div>
                   </div>
               </div>
            </div>
        </article>

        <article class="skills skills-chevron">
          <div class="container">
              <h2 class="skills-header">What can we do for you?</h2>
              <ul class="skills-list">
                  <li class="skills-list-item">Agile Development</li>
                  <li class="skills-list-item">User Centred Design</li>
                  <li class="skills-list-item">Open Source Technology</li>
                  <li class="skills-list-item">Lean Product Development</li>
              </ul>
              <div class="skills-hr hidden-xs">
              </div>
              <p class="skills-text">We excel at delivering technically challenging projects. Using an Agile development process, we work collaboratively with you in a transparent and open manner.</p>
              <p class="skills-text">User centred design means that we put your users first. We believe in engaging real end users in testing the product iteratively throughout development.</p>
              <p class="skills-text">Our love of new technology and rapidly developing new products is supported by a robust project management process and enterprise-level quality assurance.</p>
              <p class="skills-text">We leverage and contribute to a broad range of open source software. Our tech stack is always evolving, right now we&#8217;re big fans of Python, Node.js, React, Elasticsearch, Hadoop and Apache Spark in particular.</p>
              <div class="row row-mod skills-images">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <div class="skills-logos skills-logos-upper">
                          <div class="tech tech-Logos_js"></div>
                          <div class="tech tech-Logos_heroku"></div>
                          <div class="tech tech-Logos_python"></div>
                          <div class="tech tech-drupal"></div>
                      </div>
                      <div class="skills-logos skills-logos-lower">
                          <div class="tech tech-Logos_amazon"></div>
                          <div class="tech tech-Logos_solr"></div>
                          <div class="tech tech-Logos_elastic"></div>
                          <div class="tech tech-Logos_ApacheSpark"></div>
                      </div>
                  </div>
              </div>
          </div>
        </article>
      
        <article class="testimonials">
          <div class="container">
              <p class="testimonials-text">Atchai came up with a technical approach which has proven to offer huge efficiencies in the production of TV channel support websites. We now have an underlying architecture which enables quick and efficient rollout of new websites, along with the tools to ensure that every site we produce is accessible across mobile devices.</p>
              <p class="testimonials-text">Atchai were extremely professional, patient, and showed a great understanding of our often changing requirements and priorities. Their Agile approach to development, along with regular and effective communication allowed us to accommodate change and react quickly to evolving business and user requirements.</p>
              <p class="testimonials-text"><strong>I&#8217;d highly recommend Atchai and wouldn&#8217;t hesitate to work with them again.</strong></p>
              <div class="testimonials-hr"></div>
             <h3 class="testimonials-header-turner">Oliver holmes</h3>
             <h2 class="testimonials-header">Turner broadcasting</h2>
              <img src="/img/Turner.svg" class="testimonials-image"  alt="Turner Broadcasting Testimonial">
          </div>
        </article>

{{ partial "footer.html" . }}