{{ partial "header.html" . }}
           
	<section id="content">
       
       <article class="posts container">
           <h1 class="posts-header">Atchai blog</h1>
           <div class="blog-posts blog-posts-container">
     
               {{ range first 10 .Data.Pages }}
               
                   <div class="blog-posts-post clearfix">
                       <h3><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
                       <p class="blog-posts-by">Posted {{ .Date.Format "2 Jan 2006" }} ({{.ReadingTime }} minute read)</p>
                       <p>{{ .Summary }}</p>
                       <a href="{{ .RelPermalink }}" class="blog-posts-post-more">Read more <i class="fa fa-chevron-right"></i></a>
                   </div>
               
               {{ end }}
               
                          
               <div class="pagination">
                   <button class="pagination-button pagination-button-left"><i class="fa fa-chevron-left"></i> Newer</button>
                   <p>Page 1 of 10</p>
                   <button class="pagination-button pagination-button-right">Older <i class="fa fa-chevron-right"></i></button>
               </div>
               
           </div>
           
       </article>
	</section>


{{ partial "footer.html" . }}
