

<section class="landing-case-study-section">
    <div class="container-fluid landing-case-study-container">

        <div class="row">
            <div class="col-md-6 landing-case-study-container-col">
                <h2>sur.<span class="text_bold">ly</span></h2>

                <p><a href="#">Dataseed</a> is a data visualisation SaaS product created by Atchai. We've made it simpler than ever to
                    create beatiful, interactive data visualisations. In five minutes you can turn spradsheets into
                    valuable business insights. A free service is available for open data publishers, along with paid
                    subscriptions for commercial use.</p><br>

                <p>Using our open source toolkit and our REST API you can embed Dataseed into other web applications,
                    making it easy to offer data and analistics to your customers.</p>
            </div>
            <div class="col-md-6 landing-case-study-container-img">
                <img src="/img/surly.png" alt="">
            </div>
            <div class=" col-md-12 portfolio-tech">
                <p>saas</p>

                <p>product development</p>

                <p>data visualisation</p>

                <p>elasticsearch</p>

                <p>python</p>
            </div>
        </div>
    </div>
</section>
