<section class="landing-case-study-section">
    <div class="container-fluid landing-case-study-container">

        <div class="row">
            <div class="col-md-6 landing-case-study-container-col">
                <h2>echo<span class="text_bold">Note</span></h2>

                <p>Have you ever wanted to capture a free flow of thoughts and ideas without having to unlock your phone, open a notes app and type them out? We developed echoNote as part of a quantified self project for <a href="http://joylab.co.uk/">Joylab</a> - the digital innovation agency. </p><br>

                <p>Amazon Echo is a device that is always on, listening and responding to any command you give. From the comfort of your living room, you can just speak your ideas out loud and echoNote will transcribe them for you.</p><br>
                
                <p>We used the <a href="https://github.com/amzn/alexa-skills-kit-js">Alexa Skills Kit</a> Node.js library to build a custom skill that can listen to listen to your ideas and store the text in a Google Spreadsheet along with a timestamp.  The code we've written has been open sourced and is available on Github. </p>
                
            </div>
            <div class="col-md-6 landing-case-study-container-img">
                <img src="/img/echoNote.png" alt="amazon alexa skill development">
            </div>
<!--            
            <div class=" col-md-12 portfolio-tech">
                <p>saas</p>

                <p>product development</p>

                <p>data visualisation</p>

                <p>elasticsearch</p>

                <p>python</p>
            </div>
-->
        </div>
    </div>
</section>