<section class="landing-case-study-section">
    <div class="container-fluid landing-case-study-container">

        <div class="row">
            <div class="col-md-6 landing-case-study-container-col">
                <h2><a href="http://mind-bot">mind<span class="text_bold">Bot</span></a></h2>

                <p>Life is busy and getting busier. Sometimes technology is the problem causing all kinds of distractions, but it can also be your friend. mindBot is a chatbot that uses introspective questioning and AI to help you organize your mind and concentrate on doing what matters most to you.</p><br>

                <p>Initially developed as a Slack Application, Atchai have been engaged to take the Mindbot concept to every mobile device on the planet, via <a href="http://twilio.com">Twilio's</a> SMS service.  Working in short sprints, we have suceeded in getting an MVP to market within 2 weeks, allowing us to start learning about user needs and continually iterate on the product.</p>
            </div>
            <div class="col-md-6 landing-case-study-container-img">
                <img src="/img/mindbot.png" alt="">
            </div>
            <div class=" col-md-12 portfolio-tech">
                <p>chatbot</p>

                <p>product development</p>

                <p>conversational ui</p>

                <p>healthcare</p>

                <p>node.js</p>
            </div>
        </div>
    </div>
</section>
