<article class="portfolio portfolio-newsverify-chevron portfolio-newsverify">
   
    <div class="container portfolio-container">
       <div class="row row-mod">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 portfolio-logo">
                <h2><a href="/portfolio/internews-europe-newsverify-0/">Newsverify</a></h2>
                <img src="/img/Internews.svg" alt="Internews logo">
                <p>NewsVerify is an innovative news publishing platform with a verification framework. It is an open-source product, created in partnership with Internews Europe and currently deployed for multiple partners in the Middle East region.</p>
                <p>NewsVerify acknowledges the positive contribution citizen journalism is making to todays information landscape, and attempts to address the lack of fact-checking and verification in social media sources.</p>    
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 portfolio-logo-image">
                <a href="/portfolio/internews-europe-newsverify-0/"><img src="/img/NewsVerify.png" class="logo" alt="Newsverify publishing"></a>
                <a href="/portfolio/internews-europe-newsverify-0/"><img src="/img/NewsVerify-Logo.png" class="social" alt="Newsverify publishing"></a>
            </div>
        </div>
        
        <div class="portfolio-tech">
            <p>citizen journalism</p>
            <p>open source</p>
            <p>drupal</p>
            <p>apache solr</p>
        </div>
   </div>
    
</article>