<article class="portfolio portfolio-dataseed-chevron">
   
    <div class="container portfolio-container">
       <div class="row row-mod">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 portfolio-logo">
                <a href="https://getdataseed.com"><img src="/img/dataseed-white.png" alt="Dataseed logo"></a>
                <p>Dataseed is a data visualisation SaaS product created by Atchai. We&#8217;ve made it simpler than ever to create beautiful, interactive data visualisations. In five minutes you can turn spreadsheets into valuable business insights. A free service is available for open data publishers, along with paid subscriptions for commercial use.</p>
                <p>Using our open source toolkit and our REST API you can embed Dataseed into other web applications, making it easy to offer data and analytics to your customers.</p>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 portfolio-logo-image">
                <a href="https://getdataseed.com"><img src="/img/Ipad.png" alt="interactive data visualization"></a>
            </div>
        </div>
        
        <div class="portfolio-tech">
            <p>saas</p>
            <p>product development</p>
            <p>data visualisation</p>
            <p>elasticsearch</p>
            <p>python</p>
        </div>
        
        <div class="portfolio-testimony portfolio-testimony-chevron">
           <hr>
            <div class="row row-mod portfolio-testimony-container">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 portfolio-testimony-text">
                    <p>I am impressed!.. After playing around with some data I must say it works perfect! Just the tool I need...</p>
                    <div class="portfolio-hr"></div>
                    <h3>Marcel Peterson</h3>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 portfolio-logo-image">
               <div class="case-study-winner case-study-square case-study-square-winner portfolio-square portfolio-square-guardian">
                   <p>Information is <br><span class="case-study-beautiful">beautiful</span><br><span class="case-study-strong">award winner</span></p>
                   <img src="/img/winner-white.png" alt="Information is beautiful winner">
               </div>
               <div class="case-study-guardian case-study-square case-study-square-guardian portfolio-square">
                   <p>Featured in<br><span class="case-study-strong">the guardian</span></p>
                   <img src="/img/guardian-white.png" alt="Featured in the guardian">
               </div>
                </div>
            </div>
        </div>
        
   </div>
</article>


<article class="portfolio portfolio-groupseer-chevron portfolio-data">

   <div class="container portfolio-container">
      <div class="row row-mod">
           <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 portfolio-logo">
               <h2><a href="/portfolio/mindbot">Mindbot</a></h2>
               <p>Life is busy and getting busier. Sometimes technology is the problem causing all kinds of distractions, but it can also be your friend. mindBot is a chatbot that uses introspective questioning and AI to help you organize your mind and concentrate on doing what matters most to you.</p><br>

               <p>Initially developed as a Slack Application, Atchai have been engaged to take the Mindbot concept to every mobile device on the planet, integrating with <a href="http://twilio.com">Twilio's</a> SMS service.  Working in short sprints, we have suceeded in getting an MVP to market within 2 weeks, allowing us to start learning about user needs and continually iterate on the product.</p><br>
           </div>
           <div class="col-md-6 landing-case-study-container-img">
               <a href="/portfolio/mindbot"><img src="/img/mindbot.png" alt="Mindbot"></a>
           </div>
       </div>

       <div class="portfolio-tech">
           <p>chatbot</p>
           <p>product development</p>
           <p>conversational ui</p>
           <p>healthcare</p>
           <p>node.js</p>
       </div>
  </div>

</article>

<article class="portfolio portfolio-tv-chevron portfolio-tv">
   
    <div class="container portfolio-container portfolio-tv-container">
       <div class="row row-mod">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 portfolio-logo">
                <h2><a href="/portfolio/turner-broadcasting-general-entertainment/"><span class="portfolio-thin">Tv channel</span> <br class="hidden-xs">framework</a></h2>
                <p>Turner Broadcasting is home to some of the most recognisable global entertainment brands, such as Boomerang, Cartoon Network, CNN, TCM, and TNT.</p>
                <p>We were engaged by Turner Broadcasting to create a platform that enables the rapid roll-out of websites for their General Entertainment brands across Europe, the Middle East and Africa.
                </p>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 portfolio-logo-image">
                <a href="/portfolio/turner-broadcasting-general-entertainment/"><img src="/img/mobile-1.png" alt="TV Channel mobile 1"></a>
                <a href="/portfolio/turner-broadcasting-general-entertainment/"><img src="/img/mobile-2.png" alt="TV Channel mobile 2"></a>
            </div>
        </div>
        
        <div class="portfolio-tech">
            <p>media</p>
            <p>responsive</p>
            <p>internationalization</p>
            <p>drupal</p>
        </div>
        
   </div>
   
</article>
