<section class="landing-case-study-section">
    <div class="container-fluid landing-case-study-container">

        <div class="row">
            <div class="col-md-6 landing-case-study-container-col">
                <h2><a href="/portfolio/mindbot">mind<span class="text_bold">Bot</span></a></h2>

                <p>Life is busy and getting busier. Sometimes technology is the problem, causing all kinds of distractions, but it can also be your friend. mindBot is a chatbot that uses introspective questioning and AI to help you organize your mind and concentrate on doing what matters most to you.</p><br>

                <p>Initially developed as a Slack Application, Atchai have taken the Mindbot concept to every mobile device on the planet, integrating with Twilio's SMS service and Facebook Messenger.  Working in short sprints, we suceeded in getting an MVP to market within 2 weeks, allowing us to start learning about user needs and continually iterate on the product.</p><br>
            </div>
            <div class="col-md-6 landing-case-study-container-img">
                <a href="/portfolio/mindbot"><img src="/img/mindbot.png" alt="healthcare bot development"></a>
            </div>
            <!--
            <div class=" col-md-12 portfolio-tech">
                <p>chatbot</p>

                <p>product development</p>

                <p>conversational ui</p>

                <p>healthcare</p>

                <p>node.js</p>
            </div>
            -->
        </div>
    </div>
</section>

<section class="landing-case-study-section">
    <div class="container-fluid landing-case-study-container">

        <div class="row">
            <div class="col-md-6 landing-case-study-container-col">
                <h2><a href="/portfolio/echonote">echo<span class="text_bold">Note</span></a></h2>

                <p>Have you ever wanted to capture a free flow of thoughts and ideas without having to unlock your phone, open a notes app and type them out? We developed echoNote as part of a quantified self project for <a href="http://joylab.co.uk/">Joylab</a> - the digital innovation agency. </p><br>

                <p>Amazon Echo is a device that is always on, listening and responding to any command you give. From the comfort of your living room, you can just speak your ideas out loud and echoNote will transcribe them for you.</p><br>
                
                <p>We used the <a href="https://github.com/amzn/alexa-skills-kit-js">Alexa Skills Kit</a> Node.js library to build a custom skill that can listen to listen to your ideas and store the text in a Google Spreadsheet along with a timestamp.  The code we've written has been open sourced and is available on Github. </p>
                
            </div>
            <div class="col-md-6 landing-case-study-container-img">
                <a href="/portfolio/echonote"><img src="/img/echoNote.png" alt="amazon alexa skill development"></a>
            </div>
<!--            
            <div class=" col-md-12 portfolio-tech">
                <p>voice interface</p>
                <p>experimental</p>
                <p>chatbot</p>
                <p>alexa</p>
                <p>node.js</p>
            </div>
-->
        </div>
    </div>
</section>



<section class="landing-case-study-section">
    <div class="container-fluid landing-case-study-container">

        <div class="row">
            <div class="col-md-6 landing-case-study-container-col">
                <h2><a href="/portfolio/lastseen">Last<span class="text_bold">Seen</span></a></h2>

                <p>LastSeen is a simple chatbot that asks the user to check-in once a day and notifies their designated contact if they don’t.</p><br>

                <p>It was designed initially for older people living alone, providing them with a reminder that someone cares about them, and offering their children the security of knowing that their parents are safe. The product has however found more traction with a younger audience, especially young professional women living alone, students living away from home for the first time, and dog walkers!</p><br>
                
                <p><a href="https://www.messenger.com/t/lastseenapp">Try LastSeen for Facebook Messenger now.</a></p>
            </div>
            <div class="col-md-6 landing-case-study-container-img">
                <a href="/portfolio/lastseen"><img src="/img/lastseen.png" alt="facebook messenger bot development"></a>
            </div>
            <!--
            <div class=" col-md-12 portfolio-tech">
                <p>saas</p>

                <p>product development</p>

                <p>data visualisation</p>

                <p>elasticsearch</p>

                <p>python</p>
            </div>
            -->
        </div>
    </div>
</section>
