       <article class="portfolio portfolio-clinical-chevron portfolio-clinical">
           
            <div class="container portfolio-container">
               <div class="row row-mod">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 portfolio-logo">
                        <h2><span class="portfolio-thin">Clinical indicator<br class="hidden-xs"></span> portal</h2>
                        <p>The HSCIC (Health and Social Care Information Centre) is the public body that collects, processes and publishes data covering all levels of the UK&#8217;s National Health Service for the Department of Health. The NHS is the world&#8217;s 5th largest employer, so it generates a lot of data!</p>
                        <p>
Atchai won the project with a competitive bid proposing an open source technology stack including Drupal, integrated tightly with our own Dataseed platform. 200GB of data is imported quarterly into Dataseed&#8217;s RESTful API, enabling the public and clinicians to visually interrogate healthcare outcomes, admissions, prescriptions, and administrative datasets through a single, simple interface.</p>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 portfolio-logo-image">
                        <img src="/img/map.png" alt="Clinic indicator portal">
                        <div class="client client-hscic"></div>
                    </div>
                </div>
                
                <div class="portfolio-tech">
                    <p>open data</p>
                    <p>open government</p>
                    <p>healthcare</p>
                    <p>drupal</p>
                    <p>dataseed</p>
                </div>
           </div>
            
       </article>