<section class="landing-case-study-section">
    <div class="container-fluid landing-case-study-container">

        <div class="row">
            <div class="col-md-6 landing-case-study-container-col">
                <h2><a href="/portfolio/mindbot">mind<span class="text_bold">Bot</span></a></h2>

                <p>Life is busy and getting busier. Sometimes technology is the problem, causing all kinds of distractions, but it can also be your friend. mindBot is a chatbot that uses introspective questioning and AI to help you organize your mind and concentrate on doing what matters most to you.</p><br>

                <p>Initially developed as a Slack Application, Atchai have taken the Mindbot concept to every mobile device on the planet, integrating with Twilio's SMS service and Facebook Messenger.  Working in short sprints, we suceeded in getting an MVP to market within 2 weeks, allowing us to start learning about user needs and continually iterate on the product.</p><br>
            </div>
            <div class="col-md-6 landing-case-study-container-img">
                <a href="/portfolio/mindbot"><img src="/img/mindbot.png" alt="healthcare bot development"></a>
            </div>
            <!--
            <div class=" col-md-12 portfolio-tech">
                <p>chatbot</p>

                <p>product development</p>

                <p>conversational ui</p>

                <p>healthcare</p>

                <p>node.js</p>
            </div>
            -->
        </div>
    </div>
</section>

<section class="landing-case-study-section">
    <div class="container-fluid landing-case-study-container">

        <div class="row">
            <div class="col-md-6 landing-case-study-container-col">
                <h2>Department of International Trade</h2>

                <p>We're working with the UK Government Department of International Trade to develop an innovative new conversational AI product.  The laws around importing and exporting goods are complex, and cover everything from importing plans to exporting military hardware for repair. It can be extremely time consuming for the ordinary citizen or small business to understand whether they need a license, and if so which one.</p><br>
                <p>By using a conversational user interface, we believe that we can reduce the time it takes to find these answers, as well as reducing the burden on human advisors.</p>
                
            </div>
            <div class="col-md-6 landing-case-study-container-img">
                <img src="/img/beis.png" alt="web conversational ai bot development">
            </div>
<!--            
            <div class=" col-md-12 portfolio-tech">
                <p>voice interface</p>
                <p>experimental</p>
                <p>chatbot</p>
                <p>alexa</p>
                <p>node.js</p>
            </div>
-->
        </div>
    </div>
</section>



<section class="landing-case-study-section">
    <div class="container-fluid landing-case-study-container">

        <div class="row">
            <div class="col-md-6 landing-case-study-container-col">
                <h2><a href="/portfolio/lastseen">Last<span class="text_bold">Seen</span></a></h2>

                <p>LastSeen is a Facebook Messenger bot that asks the user to check-in once a day and notifies their designated contact if they don’t.</p><br>

                <p>It was designed initially for older people living alone, providing them with a reminder that someone cares about them, and offering their children the security of knowing that their parents are safe.</p><br>
                
                <p>LastSeen found more traction with a younger audience, especially young professional women living alone, students living away from home for the first time, and dog walkers!</p><br>
                
            </div>
            <div class="col-md-6 landing-case-study-container-img">
                <a href="/portfolio/lastseen"><img src="/img/lastseen.png" alt="facebook messenger bot development"></a>
            </div>
            <!--
            <div class=" col-md-12 portfolio-tech">
                <p>saas</p>

                <p>product development</p>

                <p>data visualisation</p>

                <p>elasticsearch</p>

                <p>python</p>
            </div>
            -->
        </div>
    </div>
</section>
