<article class="portfolio portfolio-tv-chevron portfolio-tv">
   
    <div class="container portfolio-container portfolio-tv-container">
       <div class="row row-mod">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 portfolio-logo">
                <h2><a href="/portfolio/turner-broadcasting-general-entertainment/"><span class="portfolio-thin">Tv channel</span> <br class="hidden-xs">framework</a></h2>
                <p>Turner Broadcasting is home to some of the most recognisable global entertainment brands, such as Boomerang, Cartoon Network, CNN, TCM, and TNT.</p>
                <p>We were engaged by Turner Broadcasting to create a platform that enables the rapid roll-out of websites for their General Entertainment brands across Europe, the Middle East and Africa.
                </p>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 portfolio-logo-image">
                <a href="/portfolio/turner-broadcasting-general-entertainment/"><img src="/img/mobile-1.png" alt="TV Channel mobile 1"></a>
                <a href="/portfolio/turner-broadcasting-general-entertainment/"><img src="/img/mobile-2.png" alt="TV Channel mobile 2"></a>
            </div>
        </div>
        
        <div class="portfolio-tech">
            <p>media</p>
            <p>responsive</p>
            <p>internationalization</p>
            <p>drupal</p>
        </div>
        
        <div class="portfolio-testimony portfolio-testimony-groupseer-chevron portfolio-testimony-tv-chevron">
           <hr>
            <div class="row row-mod portfolio-testimony-container">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 portfolio-testimony-text">
                    <p>Atchai came up with a technical approach which has proven to offer huge efficiencies in the
production of TV channel support websites. We now have an underlying architecture which enables quick and efficient rollout of new websites, along with the tools to ensure that every site we produce is accessible across mobile devices.</p>
                    <p>Atchai were extremely professional, patient, and showed a great understanding of our often changing requirements and priorities. Their Agile approach to development, along with regular and effective communication allowed us to accommodate change and react quickly to evolving business and user requirements.</p>
                    <p>I&#8217;d highly recommend Atchai and wouldn&#8217;t hesitate to work with them again.</p>
                    <div class="portfolio-hr"></div>
                    <h3>Oliver Holmes</h3>
                    <img src="/img/Turner.svg" alt="Turner logo">
                </div>
            </div>
        </div>
        
   </div>
   
</article>