   <footer class="footer">
     <article class="consultation">
               <div class="container" id="contact">
                   <h3 class="consultation-header">We need to talk</h3>
                   <p class="consultation-lorem">We'd love to discuss your project and see if we can help. Give us a call anytime.</p>
                   <div class="consultation-hr"></div>
                   <a class="consultation-mobile" href="tel:+442031372845" onClick="ga('send', 'event', 'CTA', 'click', 'Footer Telephone');">020 3137 2845</a>
                   <a href="mailto:enquiries@atchai.com" class="consultation-email" onClick="ga('send', 'event', 'CTA', 'click', 'Footer Email');">enquiries@atchai.com</a>
                   <div class="consultation-hr"></div>
                   <p class="consultation-map">Atchai Digital, United House, North Road, London, N79DP</p>
                   <a class="consultation-map-bold" href="https://www.google.co.uk/maps/place/Atchai+Digital/@51.5491503,-0.1211688,15.27z/data=!4m2!3m1!1s0x0:0xaeaae9839f8b39d9">(Map)</a>
               </div>
       </article>
       
       <div class="container">
            <div class="footer-left-container">
                <a href="/"><img class="footer-logo" src="/img/footer-logo.svg" alt="Atchai logo"></a>
                <a href="/blog" class="footer-menu">Blog</a>
                <a href="#contact" class="footer-menu">Contact</a>
                <div class="footer-logos-container">               
                    <a href="https://twitter.com/atchai" class="footer-twitter"><div class="icon icon-twitter"></div></a>
                    <a href="https://github.com/atchai"><div class="icon icon-github"></div></a>
                    <a href="/blog/index.xml"><div class="icon icon-feed"></div></a>
                </div>
            </div>
            <div class="footer-right-container">
                <p class="footer-text">&copy; <a href="#">2015 Atchai Digital. Data Driven Web Apps</a></p>
                <p class="footer-text">Registered Company No: 07395685</p>
            </div>
        </div>
	</footer>
    
    <!--Start of Zopim Live Chat Script-->
    <script type="text/javascript">
    window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
    d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
    _.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute("charset","utf-8");
    $.src="//v2.zopim.com/?3RdQkivcAnPFWWUMpICy8tSi8GvfInCz";z.t=+new Date;$.
    type="text/javascript";e.parentNode.insertBefore($,e)})(document,"script");
    </script>
    <!--End of Zopim Live Chat Script-->
    
    <!-- LOAD GA ONLY ON PRODUCTION -->
    <script>
    if (document.location.hostname == "atchai.com") { 
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-18118166-1', 'auto');
      ga('send', 'pageview');
    }
    </script>
</body>

</html>