<article class="testimonials">
    <div class="container">
        <p class="testimonials-text">What I like about working with Atchai is that they take the time at the beginning of the project to understand the big picture before choosing the right tech stack for the job.</p>

        <p class="testimonials-text">What they delivered was cutting edge, very high quality software and is flexible in the sense of elements being able to be repurposed if need be to enable additional features further down the line as the project evolves.</p>
            
<p class="testimonials-text"><strong>All work was delivered on time, on budget, to a very high standard with clear, honest communication throughout.</strong></p>

        <div class="testimonials-hr"></div>
        <h3 class="testimonials-header-turner">Niels Bischoff</h3>

        <h2 class="testimonials-header">Mindbot</h2>
        <br><br>
    </div>
</article>