<article class="testimonials">
    <div class="container">
        <p class="testimonials-text">Atchai came up with a technical approach which has proven to offer huge
            efficiencies in the production of TV channel support websites. We now have an underlying architecture which
            enables quick and efficient rollout of new websites, along with the tools to ensure that every site we
            produce is accessible across mobile devices.</p>

        <p class="testimonials-text">Atchai were extremely professional, patient, and showed a great understanding of
            our often changing requirements and priorities. Their Agile approach to development, along with regular and
            effective communication allowed us to accommodate change and react quickly to evolving business and user
            requirements.</p>

        <p class="testimonials-text"><strong>I&#8217;d highly recommend Atchai and wouldn&#8217;t hesitate to work with
            them again.</strong></p>

        <div class="testimonials-hr"></div>
        <h3 class="testimonials-header-turner">Oliver holmes</h3>

        <h2 class="testimonials-header">Turner broadcasting</h2>
        <img src="/img/Turner.svg" class="testimonials-image" alt="Turner Broadcasting Testimonial">
    </div>
</article>