<article class="testimonials">
    <div class="container">
        <p class="testimonials-text">John runs an agile, knowledgeable and experienced team of developers with a strong focus on enterprise, data-driven technical solutions. I have employed them for a recent, very challenging project mining the group associativity of social media networks.</p>

        <p class="testimonials-text"><strong>I was highly impressed by the way John runs his team, the agile way in which they approach the work and even more pleased with their ideas and technical input. I would recommend John and his team at Atchai to anyone who needs a competent solution for any data-oriented enterprise project.</strong></p>

        <div class="testimonials-hr"></div>
        <h3 class="testimonials-header-turner">Adrian Leu</h3>
        <h3 class="testimonials-header-turner">CEO</h3>
        

        <h2 class="testimonials-header"><a href="https://www.inition.co.uk/">Inition</a></h2>
        <br><br>
    </div>
</article>